
<!DOCTYPE html>
<!-- saved from url=(0043) -->
<html class="webkit chrome win js landscape js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths pc wf-opensans-n4-active wf-opensans-n3-active wf-opensans-i3-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-n7-active wf-opensans-i6-active wf-opensans-i7-active wf-opensans-n8-active wf-opensans-i8-active wf-montserrat-n8-active wf-montserrat-n6-active wf-montserrat-n4-active wf-montserrat-n5-active wf-montserrat-n1-active wf-montserrat-n3-active wf-montserrat-n7-active wf-montserrat-n2-active wf-montserrat-n9-active wf-montserrat-i1-active wf-montserrat-i5-active wf-montserrat-i2-active wf-montserrat-i9-active wf-montserrat-i6-active wf-montserrat-i8-active wf-montserrat-i7-active wf-montserrat-i3-active wf-montserrat-i4-active wf-pacifico-n4-active wf-active">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Product Expiry Alert Management System">
    <meta name="keywords" content="Product Expiry Alert Management System">
    <meta name="author" content="Product Expiry Alert Management System">

    <title>Product Expiry Alert Management System</title>

    <!-- FONT-ICON -->
    <link rel="stylesheet" href="~/Content/home/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/home/themify-icons.css">
    <link rel="stylesheet" href="~/Content/home/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/home/style.css">

    <!-- LIB -->
    <link rel="stylesheet" href="~/Content/home/animate.css">
    <link rel="stylesheet" href="~/Content/home/custom-animation.css">
    <link rel="stylesheet" href="~/Content/home/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/home/sweetalert.css">
    <link rel="stylesheet" href="~/Content/home/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/home/swiper.min.css">

    <!-- EFFECT -->
    <link rel="stylesheet" type="text/css" href="~/Content/home/vegas.min.css">

    <!-- TEMPLATE -->
    <link rel="stylesheet" href="~/Content/home/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/home/nc-grids.css">
    <link rel="stylesheet" href="~/Content/home/main.css">
    <link rel="stylesheet" href="~/Content/home/helper.css">
    <link rel="stylesheet" href="~/Content/home/responsive.css">

    <!-- THEME -->
    <link rel="stylesheet" href="~/Content/home/default.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="~/Content/home/custom.css">

    <!-- FAVICONS -->
    <link rel="icon" href="~/Content/site/logo-small.png">

    <link rel="stylesheet" href="~/Content/home/css" media="all">
    <style type="text/css">
        .f-1 {
            font-family: "Montserrat";
        }

        .f-2 {
            font-family: "Open Sans";
        }

        .f-3 {
            font-family: "Pacifico";
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="  pace-done" data-new-gr-c-s-check-loaded="14.1088.0" data-gr-ext-installed="">
  

    <!-- MAIN-WRAPER -->
    <div class="nc-mainwrapper">

      

        <!-- CONTENT AREA -->
        <div id="nc-main" class="nc-main bg-cover bg-cc" data-bg="../../Content/img/front.jpg" style="background-image: url('../../Content/img/front.jpg');">

            <!-- SLIDESHOW -->
            <div class="full-wh">
                <div class="bgslider bg-cc bg-cover w100 h100 vegas-container" data-kbgslider="../../Content/img/front.jpg|../../Content/img/side.jpg|../../Content/img/rare.jpg" style="height: 961px;"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner vegas-animation-kenburns" style="background-image: url('../../Content/img/front.jpg'); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover; animation-duration: 6000ms;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner vegas-animation-kenburns" style="background-image: url('../../Content/img/side.jpg'); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover; animation-duration: 6000ms;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner vegas-animation-kenburns" style="background-image: url('../../Content/img/rare.jpg'); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover; animation-duration: 6000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div>
            </div>

            <!-- BACKGROUND OVERLAY -->
            <div class="nc-main--bgoverlay min-vh-h100 w100 pos-rel" data-bgcolor="rgba(0,0,0,0.5)" style="background-color: rgba(0, 0, 0, 0.5);">

                <!-- PAGEWRAPPER -->
                <div class="nc-main--pagewrapper nc-activeintro">

                    <!-- INTRO SECTION -->
                    <div id="nc-intropage" class="nc-intropage introsection min-vh-h100 flex-cc w100 pd-tb-small" data-nc-sm="flex-column">

                        <!-- LOGO -->
                        <div class="nc-logo align-l absolute top left pd-t-100 pd-l-100 w100 animated s008 fadeInUp" data-animin="fadeInUp|0.1" data-animout="fadeOutUp|0.1" data-nc-sm="align-c pos-inherit pd-0 mr-b-60" style="animation-delay: 0.1s;">
                            <a href="/" class="inline-block">
                                <img src="~/Content/img/logoicon.png" style="height:70px;background-color:white;" alt="ncodeart">
                            </a>
                        </div><!-- / LOGO -->

                        <div class="container w100 pd-l-100" data-nc-sm="pd-0 w95">

                            <!-- INTRO TEXT -->
                            <div class="introtext typo-light align-l" data-nc-sm="align-c">
                                <h1 class="introtext--two fs80 f-1 txt-upper bold-5 mr-tb-10 animated s008 fadeInUp" data-animin="fadeInUp|0.3" data-animout="fadeOutUp|0.3" data-nc-md="fs70" data-nc-sm="fs50" style="animation-delay: 0.3s;">Product Expiry Alert <br />Management System</h1>

                            </div><!-- / INTRO TEXT -->

                            <div class="mr-t-80" data-nc-sm="align-c">
                                <a href="@Url.Action("Continue", "Home")" data-popup="subscribe" class="nc-trigger btn btn-primary solid bdr-2 round mr-r-20 txt-upper f-1 animated s008 zoomIn" data-animin="zoomIn|0.5" data-animout="zoomOut|0.5" data-nc-sm="mr-0 mr-10 min-px-w160" style="animation-delay: 0.5s;">Continue</a>
                            </div>

                        </div>

                        <div class="nc-footer absolute bottom left pd-b-100 pd-l-100 pd-r-100 w100 align-c" data-nc-sm="pos-inherit pd-0 mr-t-60">
                            <div class="flex-row middle-md">
                                <div class="flex-col-md-6">

                                  
                                </div>

                                <div class="flex-col-md-6">

                                    <!-- COPYRIGHT -->
                                    <div class="copyright-txt txt-white f-2 flex-cr" data-nc-sm="block">
                                        <span class="inline-block animated s008 fadeInDown" data-animin="fadeInDown|0.1" data-animout="fadeOutDown|0.1" style="animation-delay: 0.1s;">Product Expiry Alert Management System <i class="fa fa-copyright" aria-hidden="true"></i> 2022</span>
                                    </div><!-- / COPYRIGHT -->

                                </div>

                            </div>
                        </div>

                    </div><!-- / INTRO SECTION -->
                    <!-- AJAX PAGES -->
                    <div id="nc-ajaxpage" class="nc-ajaxpage">
                        @*  *@
                    </div><!-- / AJAX PAGES -->

                </div><!-- / PAGEWRAPPER -->

            </div><!-- / BACKGROUND OVERLAY -->
            <!-- PAGE OVERLAY -->
            <div class="nc-main--pageoverlay" data-bgcolor="rgba(0,0,0,0.6)" style="background-color: rgba(0, 0, 0, 0.6);">

            </div><!-- / PAGE OVERLAY -->

        </div><!-- / CONTENT AREA -->
       
        <div class="nc-popup-overlay" data-gradient="y" data-g-colors="rgba(0, 0, 0,0.6)|rgba(0, 0, 0,0.9)" style="background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%);"></div>

    </div><!-- / MAIN-WRAPER -->
    <!-- FONT SELECTION -->
    <script>
        /* Use fonts with class name in sequence => f-1, f-2, f-3 .... */
        var fgroup = [
            'Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i',
            'Open Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic',
            'Pacifico'
        ];
    </script>

    <!-- TEMPLATE -->
    <script type="text/javascript" src="~/Content/home/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Content/home/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/home/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/home/plugins.js"></script>
    <script type="text/javascript" src="~/Content/home/swiper.jquery.min.js"></script>
    <script type="text/javascript" data-pace-options="{ 'ajax': true }" src="~/Content/home/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/home/nc.js"></script>


</body>

</html>
@RenderBody()
@RenderSection("scripts", required: false)

